@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
:root{
    /* primary */
    --Scissors-Gradient: hsl(39, 89%, 49%) , hsl(40, 84%, 53%);
    --Paper-Gradient: hsl(230, 89%, 62%) , hsl(230, 89%, 65%);
    --Rock-Gradient: hsl(349, 71%, 52%) , hsl(349, 70%, 56%);
    --Lizard-Gradient: hsl(261, 73%, 60%) , hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) , hsl(189, 58%, 57%);

    /* neutral */
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);

    /* bg */
    --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
    /* font */
    --font:'Barlow Semi Condensed', sans-serif;
}
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding:0;
    /* position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0; */
    height: 100%;
    width: 100%;
    overflow:auto
}
body{
    font-family: var(--font);
    background: radial-gradient(var(--Radial-Gradient)) no-repeat;
    background-attachment: fixed;
}

